name: run config.py

on:
  push:
      branches:
        - main
  schedule:
    - cron: "0 2/12 * * *"
jobs:
  build:
    runs-on: ubuntu-latest
      
    permissions:
      contents: write

    steps:

      - name: checkout repo content
        uses: actions/checkout@v2

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          
      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: execute py script
        run: |
          python config.py

      - name: setup git config
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"

      - uses: stefanzweifel/git-auto-commit-action@v5
